<h2>Reports</h2>

<h3>Owner Count: <%= @owner_count  %></h3>
<h3>Tenant Count: <%= @tenant_count  %></h3>
<h3>Properties For Rent Count: <%= @property_count_for_rent  %></h3>
<h3>Properties For Sale Count: <%= @property_count_for_sale  %></h3>