<h2>My Properties</h2>
<% if @properties.blank? %>
    <div>No property found</div>
<% else %>
    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>City</th>
        <th>Country</th>
        <th>Wish List Count</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <%= render @properties %>
      </tbody>
    </table>
    <%= paginate @properties, theme: 'twitter-bootstrap-3' %>
<% end %>
